@charset "utf-8";

html {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

h3,
h2 {
  font-weight: bold;
  font-size: 0.8rem;
  margin: 50px 0 20px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

a {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

a:hover {
  color: yellow;
}

@media screen and (min-width: 440px) {
  h3,
  h2,
  a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  h3,
  h2,
  a {
    font-size: 1.5rem;
  }
}

/* ヘッダー部分 */
.header {
  width: 100%;
  padding: 30px 4% 0;
  /* background-color: #dedede; */
}

.header h1 {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: #fff;
  text-shadow: 2px 2px rgb(255, 255, 255, 0.5);
}

.header img {
  width: 100px;
}

@media screen and (min-width: 440px) {
  .header h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .header img {
    width: 150px;
  }
}

@media screen and (min-width: 768px) {
  .header h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .header img {
    width: 200px;
  }
}
/* -------------------- */

/* メイン部分 */
.main {
  width: 100%;
}

/* キービジュアル */
.kv-area {
  width: 100%;
  height: 350px;
  position: relative;
}

.kv {
  background-color: rgba(0, 0, 0, 0.5);
}

.kv > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.bar {
  width: 80%;
  padding: 3% 5%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
}

.bar > p {
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .kv-area {
    height: 600px;
  }

  .kv > img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  .bar {
    width: 60%;
  }

  .bar > p {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .kv-area {
    height: 800px;
  }

  .kv > img {
    height: 800px;
    object-fit: cover;
  }

  .bar {
    width: 50%;
  }

  .bar > p {
    letter-spacing: 0.3rem;
  }
}

/* コンテンツレイアウト */
.content {
  margin-top: 50px;
}

.content-title {
  max-width: 80%;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 10px 0;
  margin: 0 auto;
  margin-top: 100px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
}

.text-content p {
  width: 80%;
  font-size: 0.8rem;
  line-height: 2rem;
  padding: 10px 20px;
  margin: 0 auto;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.bonus {
  padding-top: 50px;
}

@media screen and (min-width: 440px) {
  .content-title,
  .text-content p {
    min-width: 70%;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .content-title,
  .text-content p {
    max-width: 60%;
    font-size: 1.5rem;
  }
}

/* -------------------- */

/* フッター部分 */
.footer {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.4);
}

/* -------------------- */

.position-relative {
  position: relative;
  z-index: 1;
}
